@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100vh;
  background-color: darkgrey;
}

header{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

header > h1{
  padding-top: 50px;
  font-variant: small-caps;
}

header > p{
  padding-bottom: 50px;
}

a{
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
}

a:hover{
  text-decoration: underline;
}

section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

section.normal{
  background-color: #ffffff;
  color: #000000;
}

section.imagem{
  background-color: #1f1f1f;
  color: #ffffff;
}

section.imagem > p{
  width: 400px;
  background-color: #0000004f;
}

footer{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}