
/*
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: brown;
}

main{
    display: block;
    height: 540px;
    width: 500px;
    background-color: blue;
    padding: 10px;
    margin: 20px;
}

section{
    background-color: cornflowerblue;
}

aside{
    background-color: darkgreen;
    
}

aside.conteudo-extra{
    float: left;
    background-color: darkseagreen;
}
*/

* {
    margin: 0; 
    padding: 0;
}
section {
    padding-top: 1px; 
    min-height: 100px; 
    width: 920px; 
    margin: 20px;
    background: #ccc; 
    box-shadow: 0 0 3px #000;
}
aside {
    float:left; 
    margin-right: 10px; 
    background: yellow; 
    width: 300px;
    height: 200px; 
    margin-top: 10px; 
    margin-left: 10px;
}

aside.conteudo-extra{
    float: right;
    margin-right: 10px; 
    background: yellow; 
    height: 500px;
    width: 920px;  
    margin-top: 10px; 
    margin-left: 10px;
}

article {
    overflow:hidden;
    background: red; 
    width: 600px; 
    height: 600px; 
    margin-top: 10px;
}